:host {
  position: relative; /* o absolute dependiendo de tu layout */
  z-index: 1000; /* Un valor alto para asegurarse de que esté por encima */
}
  
  .navbar-color {
    width: 100vw;               
    height: 50px;               
    position: fixed;           
    top: 0;
    left: 0;
    background-color: #1b02fe;  /* Color de fondo */
    color: white;
  }

  .position{
    position: absolute;
    top: 5%;
  }

  @media screen and (max-width: 650px) {
   

    
  }