  .navbar-color {
    width: 100vw;               /* Ocupa todo el ancho de la pantalla */
    height: 50px;               /* Ajusta la altura del navbar */
    position: absolute;            /* Fija el navbar en la parte superior */
    top: 0;
    left: 0;
    background-color: #1b02fe;  /* Color de fondo */
    color: white;
  }

  .position{
    position: absolute;
    top: 5%;
  }

  @media screen and (max-width: 650px) {
   

    
  }